### Predicción de precios de casas

In [69]:
#Importando librerias a utilizar
import numpy as np
import pandas as pd

Usando sclicing con NumPy separar los datos en 2 datasets:
entrenamiento(80%)
validación y pruebas(20%)

In [72]:
#Cargando data del set de datos
data = np.load('./proyecto_training_data.npy') #Extraer data 

sliceSize = int(len(data) * .8) #Calculo para saber cual es el 80% de los datos 
TrainingData = data[:sliceSize] #80% del total de datos para training data
TestData = data[sliceSize:] #20% del total de los datos para test data

pandas_df = pd.DataFrame(TrainingData,columns=['PrecioVenta','Calidad','PiesCuadrados','Habitaciones','AñoConstruccion','PiesCalle'])
pandas_df

,PrecioVenta,Calidad,PiesCuadrados,Habitaciones,AñoConstruccion,PiesCalle
0,208500.0,7.0,856.0,8.0,2003.0,65.0
1,181500.0,6.0,1262.0,6.0,1976.0,80.0
2,223500.0,7.0,920.0,6.0,2001.0,68.0
3,140000.0,7.0,961.0,7.0,1915.0,60.0
4,250000.0,8.0,1145.0,9.0,2000.0,84.0
...,...,...,...,...,...,...
1163,108959.0,4.0,1258.0,6.0,1969.0,60.0
1164,194000.0,5.0,1432.0,5.0,1978.0,NaN
1165,233170.0,7.0,1502.0,7.0,2009.0,79.0
1166,245350.0,8.0,1694.0,7.0,2008.0,64.0
1167,173000.0,6.0,959.0,7.0,2000.0,58.0

## Análisis exploratorio de datos.

Para cada variable en el dataset calcular((usando numpy o pandas):


1.   Media
2.   Valor Máximo
3.   Valor Mínimo
4.   Rango(peak to peak, no el rango del tensor que por ser verctor sabemos que es 1)
5.   Desviación estándar

In [73]:
resumen = pandas_df.describe()

max_df=pd.DataFrame([resumen.iloc[7]])
min_df=pd.DataFrame([resumen.iloc[3]])
rango = max_df.values - min_df.values
rango_df = pd.DataFrame(rango,columns=['PrecioVenta','Calidad','PiesCuadrados','Habitaciones','AñoConstruccion','PiesCalle'])
res = (resumen.iloc[[1,7,3]].append(rango_df)).append(resumen.iloc[2])

res

,PrecioVenta,Calidad,PiesCuadrados,Habitaciones,AñoConstruccion,PiesCalle
mean,180590.277397,6.101027,1156.323630,6.485445,1971.451199,69.946985
max,755000.000000,10.000000,3228.000000,14.000000,2010.000000,313.000000
min,34900.000000,1.000000,334.000000,2.000000,1875.000000,21.000000
0,720100.000000,9.000000,2894.000000,12.000000,135.000000,292.000000
std,78815.697902,1.378025,373.780374,1.609141,29.951707,23.478161